#main-container {
  margin-top: 2%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

@media only screen and (max-width: 480px) {
  #main-container {
    grid-template-columns: 100%;
  }
}

.card {
  width: 95%;
}
.card-title {
  position: relative;
}

.card__coin-info-container {
  display: none;
}

/*
    Chart
 */

#chartContainer {
  height: 400px;
  grid-column: 1/-1;
}
