/* main {
  width: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.heading {
  display: none;
}


.heading-box {
  display: flex;
  max-height: 5rem;
  justify-content: space-between;
  align-items: center;
}
.heading-box__img {
  height: 7%;
  width: 15%;
}

/* Home page */
#home-container {
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 152, 255, 0.6),
      rgba(86, 67, 250, 0.6)
    ),
    url(img/home_img.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: 2.5vh;
}

@media only screen and (max-width: 480px) {
  #home-container {
    background-image: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, 0.6),
        rgba(86, 67, 250, 0.6)
      ),
      url(img/home_img.jpeg);

    /* background-size: 100%; */
  }
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary__main {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.4rem;

  /* animation: moveInLeft 1s ease-out; */
}

.heading-primary__sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  /* animation: moveInRight 1s ease-out; */
}

.btn-action {
  color: #c7c7c7;
  font-size: 20px;
  outline: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-action:hover {
  color: #fff;

  background-image: linear-gradient(to right bottom, #d0bfff, #7950f2);

  border-radius: 15px;
}

/*  */

/* coins page */

#main-container {
  margin-top: 2%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

@media only screen and (max-width: 770px) {
  #main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  #main-container {
    grid-template-columns: 100%;
  }
}

.card {
  width: 95%;
}
.card-title {
  position: relative;
}

.card__coin-info-container {
  display: none;
}

.card__coin-info-image {
  margin: 10px auto;
}

.spinner {
  grid-column: 1/-1;
}
.spinner-text {
  margin-right: 2%;
  font-size: 2rem;
  color: #7950f2;
}
.spinner-border {
  color: #7950f2;
  width: 3rem;
  height: 3rem;
}

/*
    Chart
 */

#chartContainer {
  height: 400px;
  grid-column: 1/-1;
}
